.chatView{
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;
}

.chatView > main{
    display: flex;
    flex-direction: row;
    
    height: 100%;
    width: 100%;
}

.worldsList{
    min-width: 10ch;
}