.chatView{
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;
}

.chatView > main{
    display: flex;
    flex-direction: row;

    position: absolute;
    height: 100%;
    width: 100%;
}

.worldsList{
    grid-area: "worldsList";
}

.chatViewWindow{
    width: 100%;
}