.settingsView{
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;
}

.settingsView > main{
    display: flex;
    flex-direction: row;
    
    height: 100%;
    width: 100%;
}

.settingsView form{
    display: flex;
    flex-direction: column;
}

.worldsList{
    min-width: 10ch;
}