
.world span{
    height: 100%;
    width: 100%;
}

.world a{
    display: inline-block;
    width: 100%;
    color: var(--interface-foreground);
    text-decoration: none;
}

.connected{
    background-color: var(--connected);
}

.selected{
    background-color: var(--selected);
}